<div class="category-show" style="--cat-color: <%= @category.color %>;">
  <header class="category-show__header">
    <h1 class="category-show__title"><%= @category.name %></h1>
  </header>

  <% if @albums.any? || @pagy.page > 1 %>
    <div class="category-show__albums">
      <%= turbo_frame_tag :page, @pagy.page, target: :_top do %>
        <%= render partial: "albums/album", collection: @albums, as: :album %>

        <% if @pagy.next %>
          <%= turbo_frame_tag :page, @pagy.next,
                              src: category_path(@category, page: @pagy.next),
                              loading: :lazy,
                              target: :_top do %>
            <p class="category-show__loading">Loading...</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="category-show__empty">No albums in this category yet.</p>
  <% end %>
</div>
